:root {
  --dark: #2e2e2e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #57bd84;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus {outline:0;}

button {
  padding: 12px;
  margin: 12px;
  border-radius: 24px;
  color: var(--dark);
  font-size: 20px;

  border: 1px solid blanchedalmond;

  box-shadow: lightgray 2px 2px;

  transition: color 400ms, background-color 400ms;

}

button:hover {
  color: skyblue;
  background-color: var(--dark);
  border: 1px solid lightgray;
  box-shadow: lightgray 1px 1px;
}
